body {
  font-family: 'Lusitana', serif;
  color: #463F3E;
}

input, label, button {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: 6vw;
  margin-top: 0.5vw;
  margin-bottom: 0;
  line-height: 100%;

  @media all and (min-width: 800px) { 
    font-size: 48px;
    margin-top: 4px;
  }

}

.monogram_text {
  font-size: 17.5vw;
  font-weight: 400;
  line-height: 100%;
  margin: 0 -16px 0 0;
  text-align: right;
  color: #EA7662;
  @media all and (min-width: 800px) { 
    font-size: 144px;
  }
}

.monogram_grace {
  position: relative;
  right: 10vw;
 @media all and (min-width: 800px) { 
    right: 72px;
  }
}

.monogram_line {
  display: block;
}

.monogram_ali {
  position: relative;
  left: -4vw;

  @media all and (min-width: 800px) { 
    left: -24px;
  }
}

.monogram_plus {
  position: relative;
  top: -4vw;
  @media all and (min-width: 800px) { 
    top: -32px;
  }
}

.meta_text {
  margin-bottom: 2vw;
  @media all and (min-width: 800px) { 
    margin-bottom: 17px;
  }
}

.postpone_text {
  font-size: 5vw;
  line-height: 125%;
  margin-bottom: 6vw;
  @media all and (min-width: 550px) { 
    font-size: 24px;
    margin-bottom: 32px;
  }
}

.dot {
  font-size: 4vw;
  margin: 0 6px;
  position: relative;
  top: -1vw;
  @media all and (min-width: 800px) { 
    font-size: 24px;
    top: -8px;
  }
}

.rsvp {
  position: fixed;
  bottom: 32px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  
  @media all and (min-width: 800px) { 
    font-size: 24px;
    bottom: 32px;
  }
}
